.container
  %h2.title-line-todo Add a new topic

  .pad-bot

  = form_for @todo, class: "form" do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class:"form-control"
      = f.hidden_field :done, :value => false

    = f.submit "Add", class: "btn btn-danger"

  = link_to "Back", todos_path, :class => "btn btn-default pull-right"
